[submodule "homeworkFile"]
	path = homeworkFile
	url = https://github.com/Victor2k21/homeworkFile.git
[submodule "homeworkStreams"]
	path = homeworkStreams
	url = https://github.com/Victor2k21/homeworkStreams.git
[submodule "Maven"]
	path = Maven
	url = https://github.com/Victor2k21/Maven.git
[submodule "Gradle"]
	path = Gradle
	url = https://github.com/Victor2k21/Gradle.git
